*/node_modules/
*/*-main.js
*-main.py
python_variable_annotations/__pycache__/0-add.cpython-311.pyc
*/__pycache__/
caching/base_caching.py
Popular_Baby_Names.csv
personal_data/main.py
personal_data/user_data.csv
Dockerfile
Makefile
personal_data/main.sql
Basic_authentication/main.py
Basic_authentication/.db_User.json
