*/node_modules/
*/*-main.js
*-main.py
python_variable_annotations/__pycache__/0-add.cpython-311.pyc
*/__pycache__/*
caching/base_caching.py
Popular_Baby_Names.csv
personal_data/main.py
personal_data/user_data.csv
Dockerfile
Makefile
personal_data/main.sql
*/main.py
Basic_authentication/.db_User.json
Session_authentication/.db_User.json
Unittests_and_integration_tests/client.py
Unittests_and_integration_tests/fixtures.py
Unittests_and_integration_tests/requirements.txt
atlas-localization/requirements.txt
atlas-localization/myenv/
MySQL_Advanced/myenv
MySQL_Advanced/metal_bands.sql
MySQL_Advanced/main.sql
NoSQL/myenv/
Node_js/.eslintrc.js
Node_js/babel.config.js
Node_js/database.csv
Node_js/package-lock.json
Node_js/package.json
Node_js/main.js
